<div id="<%= dom_id article %>">
  <p class="my-7 text-6xl leading-9 text-center text-gray-600 dark:text-gray-50">
    <%= article.title %>
  </p>

  <p class="my-5">
    <%= article.content %>
  </p>

</div>
